{% extends 'main/base.html' %}

{% load static %}

{% block script %}
    <script src="{% static 'main/index.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock script %}

{% block bodyblock %}
    <div class="container jumbotron">
        <h3>Url Shortener!</h3>
        <form id="mainForm">
            {% csrf_token %}
            <label for="shortener">Shortener List</label>
            <input class="form-control col-md-3" list="shorteners" id="shortener" autofocus required>
            <datalist id="shorteners">
                <option value="Git.io">
                <option value="TinyURL.com">
                <option value="NullPointer">
                <option value="Os.db">
            </datalist>
            <input class="form-control" type="url" id="mainURL" placeholder="Enter your URL" required>
            <input class="btn btn-primary" type="submit">
        </form>
        <div class="processed"></div>
    </div>
{% endblock bodyblock %}